p{
    text-align: center;
}
h1{
    text-align: center;
    text-shadow: 5px 2px #23bebe;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(37,223,223);
    background: -moz-radial-gradient(circle, rgba(37,223,223,0.9191876579733456) 52%, rgba(2,0,36,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(37,223,223,0.9191876579733456) 52%, rgba(2,0,36,1) 100%);
    background: radial-gradient(circle, rgba(37,223,223,0.9191876579733456) 52%, rgba(2,0,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#25dfdf",endColorstr="#020024",GradientType=1);
    /*background-color: #25dfdf;*/
}
.center{
    margin: auto;
    width: 60%;
    padding: 5px;
}
