p{
    text-align: center;
}
h1{
    text-align: center;
    text-shadow: 5px 2px #23bebe;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(37,223,223,0.8043417195979954) 100%);
    /*background-color: #25dfdf;*/
}
.center{
    margin: auto;
    width: 60%;
    padding: 5px;
}
